<header class="border">

     <div class="logo">
    
    <img src="assets/images/stryker logo.png" alt="Logo">
    
    </div>
    
     <div class="search-bar">
    
    <input type="text" placeholder="Search...">
    
     <button>Search</button>
    
    </div>
      
    <div class="profile">
    
     <img src="https://cdn4.iconfinder.com/data/icons/peppyicons-rounded/512/user8-512.png" alt="Profile Picture" class="profile-picture">
    
    </div>
    
    <div class="admin-dropdown">
    
    <button class="dropdown-btn">Admin <i class="fas fa-caret-down"></i></button>
    
    <div class="dropdown-content">
    
    <a href="#">Option 1</a>
    
    <a href="#">Option 2</a>
    
    <a href="#">Option 3</a>
    
     </div>
    
     </div>
    
    <div class="settings-icon">
    
    <i class="fas fa-cog"></i>
    
    </div>
    
    </header>
    
    <nav class="side-nav border">
    
    <a href="#"><i class="fas fa-qrcode"></i></a>
    
    </nav>
