<app-navbar></app-navbar>
<div class="row">
  <div class="col col-xxl-6">
    
  </div>
  <div class="col col-xxl-8" style="background-color: rgba(218, 208, 255, 0.11); padding: 10px; margin-left: 70px;">
    <div class="row">
      <div class="col col-xxl-6">
        <div class="row">
          <div class="col col-xxl-6">
            <h2 class="" style="color:rgb(19, 56, 116)">Dashboard</h2>
          </div>
          <div class="col col-xxl-6">


            <select class="form-select" aria-label="Default select example">
              <option selected> select </option>
              <option value="1">Last Month</option>
              <option value="2">Last Week</option>
              <option value="3">Today</option>
            </select>
            <!-- <div class="dropdown" style="margin-left:100px;padding: 5px;">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Period
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Last Month</a>
                <a class="dropdown-item" href="#">Last Week</a>
                <a class="dropdown-item" href="#">Today</a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
      <div class="col col-xxl-6">
      <!-- right side of dashboard -->
      </div>
    </div>
    <div class="row">
      <div class="col col-xxl-6">
        <div class="row"> <!-- three square -->
          <div class="col col-xxl-4"*ngFor="let i of dashboard">     
            <div class="card shadow-sm" style="width: 10rem;">
                <div class="card-body">
                  <h5 class="card-title" style="color:rgb(19, 56, 116)">Total</h5>
                  <h5 class="card-title" style="color:rgb(19, 56, 116)">Procedures</h5>
                  <h3 class="card-title mb-2 text-body-secondary " >{{i.total_procedures}}</h3>
                  <p class="card-text" style="color: rgb(74, 232, 74);">+3.4% </p>
                  <p class="card-text" style="color: gray;">Since last month</p>
                </div>
              </div>      
        </div>
        <div class="col col-xxl-4"*ngFor="let i of dashboard">
            
            <div class="card shadow-sm" style="width: 10rem;" >
                <div class="card-body">
                  <h5 class="card-title" style="color:rgb(19, 56, 116)">Total</h5>
                  <h5 class="card-title" style="color:rgb(19, 56, 116)">Order</h5>
                  <h3 class="card-subtitle mb-2 text-body-secondary" >{{i.total_order}}</h3>
                  <p class="card-text" style="color: rgb(74, 232, 74);">+3.4% </p>
                  <p class="card-text" style="color: gray;">Since last month </p>
                </div>
              </div>
              
        </div>
        <div class="col col-xxl-4"*ngFor="let i of dashboard">
            
            <div class="card shadow-sm" style="width: 10rem;" >
                <div class="card-body">
                  <h5 class="card-title" style="color:rgb(74, 74, 136)">Return</h5>
                  <h5 class="card-title" style="color:rgb(74, 74, 136)">Pending</h5>
                  <h3 class="card-subtitle mb-2 text-body-secondary" >{{i.return_pending}}</h3>
                  <p class="card-text " style="color: gray;">Since last month</p>
                </div>
              </div>
        </div>
        </div>
        <div class="row"> <!-- top hospital in orders -->
          <div class="col col-xxl-12">
            <div class="card shadow-sm" style="width: 500px; margin-top: 15px;">
              <div class="card-header">
              Top Hospitals in Order
              </div>
              <div class="card-body" *ngFor="let i of hospital" style="padding: 5px;">
                <div class="mb-3">
                  <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-3">{{i.name}}</div>
                    <div class="progress flex-grow-1" style="height: 5px;">
                      <div class="progress-bar" role="progressbar" style="width: 70%;" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="ms-3">{{i.total_orders}}</div>
                  </div>
                </div>
                <!-- <div class="mb-3">
                  <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-3">Rajagiri Hospital</div>
                    <div class="progress flex-grow-1">
                      <div class="progress-bar" role="progressbar" style="width: 60%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="ms-3">25</div>
                  </div>
                </div>
                <div class="mb-3">
                  <div class="d-flex align-items-center">
                    <div class="flex-shrink-0 me-3">Sunrise hospital</div>
                    <div class="progress flex-grow-1">
                      <div class="progress-bar" role="progressbar" style="width: 50%;" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <div class="ms-3">25</div>
                  </div>
                </div>
              </div>
            </div>
             -->
          </div>
        </div>

      </div>
      <div class="col col-xxl-6 offset-xxl-6">
       <!-- right side of page --> 
        <div style="float: right;">
        <div class="card " style="width: 97%; height: 415px; padding: 0;">
          <div class="card-body" style="padding: 5; padding-bottom: 0;">
            <div class="row">
              <div class="col"><h5>Order Request Map</h5></div>
              <div class="col"><span class="dots-icon"><i class="fas fa-ellipsis-v"></i></span></div>
            </div>
          </div>
          <div class="card-body" style="padding: 0;">
                              <!-- map -->
                              <div class="container-fluid">
                                <div class="map-responsive">
                                  <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="450px" height="300px" frameborder="0" style="border:0" allowfullscreen></iframe>
                                </div>

                                <div class="dot-container">
                                  <span class="dot dot-blue"></span>
                                  <span class="dot-text">Order</span>
                                  <span class="dot dot-orange"></span>
                                  <span class="dot-text">Return</span>
                                  <span class="dot dot-green"></span>
                                  <span class="dot-text">Fulfilled</span>
                                </div>
                              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    </div>
